* {
    text-align: center;
}

#answers, #answers2, #answers3 {
    visibility: hidden;
}

div {
    width: 800px;
    height: 800 px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#answers, #answers2, #answers3 {
    border: solid;
    border-color: black;
    width: 800px;
    height: 800 px;
}